{% extends 'base.html' %}
{% block content %}
    <article class="page">

        <h1 class="page__title">About</h1>

        <div class="page__content">

            <p>
                Greetings! My name is Madalin. I am interested in computers and technology in general. I live in
                Bucharest, the
                capital of Romania, the place where I was born.
            </p>
            <br>
            <p>
                I had my first computer when I was 12 years old. Soon, at the age of 14, I created the first local
                computer
                network. Two years later I had my first job. I worked as a network support engineer. There I first
                discovered
                Linux, which I have been hooked on ever since. I installed and tested all Linux distributions available
                at the time.
            </p>
            <br>
            <p>
                It used to be some sort of a sport for me to install and customize a new Linux distribution every week.
            </p>
            <br>
            <p>
                With Linux, I discovered bash scripting and that's how I got to programming and the "magic" things you
                can do
                with a 20-line script. I continued with Python, JavaScript, PHP and Java. I used all these programming
                languages to create small scripts and applications that I used, mostly, in order to automate different
                tasks.
                I was also flirting with creating websites, but I didn't even imagine at the time that I would develop a
                career out of it.
            </p>
            <br>
            <p>
                Up to the age of 25, I worked as a network administrator. Then I decided to make a career change and
                move
                to consulting as an Enterprise Resources Planning Consultant at Wizrom software. This position gave me
                the
                opportunity to discover that I like working with people, to help them find the best software solutions
                for
                their companies. I had various responsibilities, from analysis, implementation to technical support.
                And again, I used the programming skills to make my job easier. I remember when I received an Excel file
                with 1000 addresses for which I had to fill in the geographical coordinates. I managed to complete this
                task in 30 minutes using a Python script and the google maps API. The experience at Wizrom was
                incredible,
                I met many people from whom I learned a lot, but I decided to move on to my consulting career.
            </p>
            <br>
            <p>
                That's how I got to Oracle. I have been working for 5 years and right now I am a Senior Support
                Engineer.
                Here I have all the resources and support to continue my professional development, but also my personal
                one.
                In all these years I have been in a continuous learning, obtaining a multitude of certifications.
            </p>
            <br>
            <p>
                In 2020 I graduated the master studies in database administration, within the Faculty of Automation
                and Computers - Polytechnic Bucharest.
            </p>
            <br>
            <p>
                19 years after my first computer today, I believe more than ever in Steve Jobs' quote:
            </p>
            <br>
            <blockquote>
                "Everybody in this country should learn to program a computer, because it teaches you how to think ”-
                Steve Jobs
            </blockquote>
            <br>

        </div>

        <div class="page__social">
            {% include "includes/svg-icons.html" %}
        </div>

    </article>
{% endblock content %}