/**************/
/* BASE RULES */
/**************/

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

html {
  font-size: 100%;
}

body {
  background: $white;
  font: 20px/1.4 $nunito;
  color: $darkGray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $nunito;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.5;
  // margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

h1 {
  font-size: 30px;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}


a {
  color: $black;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}

::selection {
  color: $black;
  background: $lightGray;
}

// Container

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.tag-title {
  background-color: $lightGray;
  font-size: 1em;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.blog-posts {

  &__footer {
    margin-top: 1rem;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      padding: 0.5rem 0;
    }
  }

  &__social {

    a:not(:last-of-type) {
      margin-right: 1rem;
    }

    @include mobile {
      a:not(:last-of-type) {
        margin-right: 0.5rem;
      }
    }
  }

  &__pagination {
    @include mobile {
      margin-top: 1rem;
    }
  }
}