.navbar {

    &__content {
      padding: 1rem;
      border-bottom: 4px solid $darkerGray;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.13);
  
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @include mobile {
        flex-direction: column;
        padding: 0.75rem;
      }
    }
  
    &__brand {
      display: flex;
      margin-bottom: 0.5rem;
    }
  
    &__brand-text {
      @include mobile {
        h4 { margin-top: 0.5rem;}
      }
    }
  
    &__menu {
      display: flex;
  
      li {
        margin: 1rem;
        font-weight: 300;
      }
    }
  }