.post {
  &__content {
    margin-bottom: 5rem;
  }

  &__date {
    font-size: 0.8em;
    color: $gray;

  }

  p {
    margin: 1rem 0;
  }

  img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}