@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$nunito: 'Nunito', sans-serif;