{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
    <article class="post">

        <h1 class="post__title">{{ post.title }}</h1>

        <div class="post__date">
            Written on {{ post.publish }} by {{ post.author }}
        </div>

        <div class="post__content">
            {{ post.body|linebreaks }}
            <p class="post__tags">Tags:
                {% for tag in post.tags.all %}
                    <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag }}</a>
                {% endfor %}

            </p>
        </div>


        {% include "includes/disqus.html" %}
    </article>
{% endblock content %}